# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio / VSCode
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
coverage/

# Android build artifacts
/android/app/debug/
/android/app/profile/
/android/app/release/

# iOS / macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace
ios/Runner.xcodeproj/project.xcworkspace/

# Symbolication / obfuscation
app.*.symbols
app.*.map.json